html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  font: normal 400 16px/1.5 "Montserrat", "Arial", sans-serif;
  word-wrap: break-word;
  color: rgb(75, 88, 99);
  background-color: rgb(255, 255, 255);
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-header {
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
  color: #000000;
}

.button {
  display: inline-block;
  vertical-align: top;
  min-width: 100px;
  padding: 19px 44px;
  text-align: center;
  font: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  border: 0;
  border-radius: 22px;
  background-color: transparent;
  cursor: pointer;
}

.button_primary {
  color: #43a9ff;
  background-color: white;
  box-shadow: 0 0 17.5px 0 rgba(218, 229, 239, 0.45);
  transition: box-shadow 0.3s ease;
}

.button_primary:hover,
.button_primary:focus {
  box-shadow: 0 0 17.5px 0 rgb(218, 229, 239);
}

.page-header_page_main {
  max-width: 1500px;
  margin: 0 auto 170px;
  padding: 0 15px;
}

.page-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.page-navigation__button {
  display: inline-block;
  vertical-align: top;
  width: 60px;
  height: 60px;
  margin-top: 56px;
  padding: 0;
  border: 0;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  box-shadow: 0 0 32.5px 0 rgb(218, 229, 239, 0.5);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.page-navigation__button_burger {
  background-image: url("../img/burger.svg");
}

.page-navigation__button_search {
  background-image: url("../img/search.svg");
}

.page-navigation__button:hover,
.page-navigation__button:focus {
  box-shadow: 0 0 32.5px 0 rgb(218, 229, 239);
}

.page-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px 40px;
  font-weight: 700;
  font-size: 10px;
  line-height: 10px;
  text-transform: uppercase;
  color: rgba(75, 88, 99, 0.15);
  border-bottom-left-radius: 207px;
  border-bottom-right-radius: 207px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 32.5px 0 rgb(218, 229, 239, 0.5);
  transition: box-shadow 0.3s ease;
}

.page-logo:hover,
.page-logo:focus {
  box-shadow: 0 0 32.5px 0 rgb(218, 229, 239);
}

.page-logo__title {
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #43a9ff;
}

.main__title {
  max-width: 900px;
  margin: 0 auto 26px;
  text-align: center;
}

.beautiful-animals {
  min-height: 100vh;
  text-align: center;
  background-image: url("../img/horse.png");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.beautiful-animals_page_index {
  margin-bottom: 25px;
}

.beautiful-animals__text {
  margin: 0;
  margin-bottom: 83px;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: rgb(75, 88, 99, 0.25);
}

.our-features {
  text-align: center;
  padding-bottom: 125px;
}

.our-features__inner {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 15px;
}

.our-features__preface {
  margin: 0;
  margin-bottom: 22px;
  font-size: 18px;
  line-height: 18px;
  color: rgb(75, 88, 99, 0.25);
}

.our-features__header {
  margin: 0;
  margin-bottom: 100px;
}

.our-features__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 267.5px);
  justify-content: center;
  grid-row-gap: 50px;
  grid-column-gap: 100px;
  row-gap: 50px;
  column-gap: 100px;
  margin: 0;
  width: 100%;
  margin-bottom: 85px;
  padding: 0;
  list-style: none;
}

.our-features__item {
  padding-top: 83px;
  background-position: 50% 0;
  background-repeat: no-repeat;
}

.our-features__item_church {
  background-image: url("../img/church.svg");
}

.our-features__item_snowflake {
  background-image: url("../img/snowflake@1.svg");
}

.our-features__item_cherries {
  background-image: url("../img/cherries.svg");
}

.our-features__item_bells {
  background-image: url("../img/bells.svg");
}

.our-features__name {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.our-features__text {
  margin: 0 10px;
  font-size: 14px;
  line-height: 24px;
  color: rgba(75, 88, 99, 0.35);
}

.travel-places__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.travel-places__item {
  background-color: #f7f8fb;
}

.travel-places__img {
  width: 100%;
}

.travel-places__desc {
  padding: 50px 30px;
}

.travel-places__name {
  margin: 0;
  margin-bottom: 44px;
}

.travel-places__text {
  margin: 0;
  line-height: 28px;
  color: rgba(75, 88, 99, 0.35);
}

.our-apps {
  padding: 30px 50px;
}

.our-apps__list {
  margin: 0;
  margin-bottom: -120px;
  padding: 0;
  list-style: none;
}

.our-apps__item {
  margin-bottom: 120px;
}

.our-apps__name {
  margin: 0;
  margin-bottom: 35px;
  color: #43a9ff;
}

.our-apps__text {
  margin: 0;
  line-height: 28px;
  color: rgba(75, 88, 99, 0.35);
}

.about-author {
  padding-top: 60px;
  background-color: #f7f8fb;
}

.about-author__inner {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 15px;
}

.about-author__header {
  margin: 0;
  margin-bottom: 44px;
  color: #fe3254;
}

.about-author__text {
  margin: 0;

  line-height: 36px;
  color: rgba(75, 88, 99, 0.35);
}

.about-author__photo {
  width: 436px;
  max-height: 573px;
}

.about-author__name {
  display: block;
  margin-bottom: 5px;
  margin-top: 83px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
}

.make-order {
  text-align: center;
  padding-top: 133px;
  padding-bottom: 1155px;
  background-image: url("../img/house-in-forest.png");
  background-position: 50% 100%;
  background-repeat: no-repeat;
}

.make-order__preface {
  margin: 0;
  margin-bottom: 22px;
  font-size: 18px;
  line-height: 18px;
  color: rgba(75, 88, 99, 0.25);
}

.make-order__header {
  margin: 0;
  margin-bottom: 90px;
}

@media (min-width: 1024px) {
  .page-logo {
    width: 100%;
    max-width: 414px;
    min-height: 205px;
    padding: 52px 20px;
    font-size: 18px;
    line-height: 18px;
  }

  .page-logo__title {
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 0;
  }

  .travel-places__item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .travel-places__item:nth-child(odd) {
    flex-direction: row-reverse;
  }

  .travel-places__desc {
    width: 50%;
    padding: 175px 118px;
  }

  .travel-places__text {
    line-height: 36px;
  }

  .travel-places__img {
    width: 50%;
    object-fit: cover;
  }

  .our-apps {
    position: relative;
    padding: 163px 0;
  }

  .our-apps::before,
  .our-apps::after {
    content: "";
    position: absolute;
    z-index: -1;
    background-repeat: no-repeat;
  }

  .our-apps::before {
    top: -92px;
    left: 46px;
    width: 674px;
    height: 674px;
    background-image: url("../img/snowflake@2.svg");
    background-position: 50% 50%;
  }

  .our-apps::after {
    bottom: 0;
    right: 0;
    width: 675px;
    height: 605px;
    background-image: url("../img/snowflake@3.svg");
    background-position: 0 0;
  }

  .our-apps__inner {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
  }

  .our-apps__item {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 230px;
    padding-right: 625px;
    padding-bottom: 260px;
  }

  .our-apps__item::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 449px;
    height: 677px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  .our-apps__item_mp3-player::before {
    background-image: url("../img/mp3-player.png");
  }

  .our-apps__item_messenger-app::before {
    background-image: url("../img/messenger-app.png");
  }

  .our-apps__item:nth-child(odd) {
    align-items: flex-end;
    padding-right: 0;
    padding-left: 625px;
  }

  .our-apps__item:nth-child(odd)::before {
    top: 0;
    left: 0;
    bottom: auto;
    right: auto;
  }

  .our-apps__desc {
    max-width: 550px;
  }

  .our-apps__text {
    line-height: 36px;
  }

  .about-author__inner {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
  }

  .about-author__inner::before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: -100px;
    width: 585px;
    height: 585px;
    background-image: url("../img/snowflake@4.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 585px 585px;
  }

  .about-author__desc {
    width: 520px;
  }

  .about-author__photo {
    order: -1;
    margin-right: 210px;
  }
}
